@import '~antd/es/style/themes/default.less';

// Variables
@background-color: #f0f2f5;

// General
h1,
h2,
h3,
.ant-card-head-title,
.ant-collapse-header {
  // font-family: @header-font;
  font-weight: bolder;
  text-transform: uppercase;
}

// Ant Design Adjustments
.ant-layout-header {
  background: none;
  padding: 0;
  // border-bottom: 1px solid darken(#f0f2f5, 15%);
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.ant-layout-content {
  padding: 46px 0;
}

.ant-layout-footer {
  padding: 24px 0;
}

div.ant-card-head {
  border-bottom: 1px solid @background-color;
}

.ant-btn.ant-btn-dashed.ant-btn-sm {
  padding-bottom: 1px;
  margin: 2px;
}

.ant-collapse-header {
  padding-left: 14px !important;
  i {
    left: 0 !important;
  }
}

.ant-tabs-tab {
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: bold !important;
}

button.ant-btn.ant-btn-sm {
  padding: 0 7px 5px 7px;
}

span[role='img'] {
  color: initial;
  font-size: 1.125em;
}

// Custom
.logo,
div.ant-card {
  background: white;
  border: none;
  border-radius: 9px;
}

.logo {
  display: inline-block;
  margin: 14px 0;
  padding: 0 20px;
  h1 {
    margin: 0;
  }

  position: relative;
  &.beta:after {
    position: absolute;
    content: 'BETA';
    padding: 2px 6px;
    top: -9px;
    right: -22px;
    height: auto;
    line-height: initial;
    color: white;
    background: @primary-5;
    border: 1px solid @primary-7;
    border-radius: 6px;
  }
}

.legendColor {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  border-radius: 3px;
  position: relative;
  top: 1px;
}

button.legendHidden,
button.legendHidden:focus {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
  span {
    text-decoration: line-through;
  }
}

.center {
  text-align: center;
}

.floatRight {
  float: right;
}

.noSemicolon .ant-form-item-label > label::after {
  display: none;
}

.formModal {
  small {
    color: darkgray;
    font-weight: initial;
  }
  .ant-form-item-label {
    line-height: initial;
    white-space: initial;
    text-align: initial;
  }
  .ant-input-prefix .anticon {
    color: darkgray;
  }
  input.ant-input[type='text'] {
    padding-left: 33px;
  }
}

.contentTab {
  .ant-card-body {
    padding: 0;
  }
  .Chart {
    padding: 24px;
  }
}

.ant-card.inlineCard {
  display: inline-block;
}

.Legend {
  margin-top: 16px;
  p {
    margin-top: 24px;
  }
}

.Status {
  margin: 64px 0;
  font-size: 18px;
  .anticon {
    margin-right: 4px;
  }
}
